{{ define "main" }}

			<!-- start banner Area -->
			<section class="relative about-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content blog-header-content col-lg-12">
							<h1 class="text-white">	{{.Title}} </h1>	
							
							

						</div>	                          
					</div>
				</div>
			</section>
			<!-- End banner Area -->





			
			{{ with .Site.GetPage "/club/presentation" }}
			<a id="histoire"></a>
			<section class="services-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">{{ .Title }}</h1>
		                        
		                    </div>
		                </div>
		            </div>						
					<p class="sample-text">
						{{ .Params.text | markdownify}}

					</p>
				</div>	
			</section>
			


			
			
			{{ end }}
			
			
			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">				
					<div class="row">
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">270</h1>
							<p>Membres</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">8 </h1>
							<p>Equipes d'Interclubs</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2</h1>
							<p>Gymnases</p>
						</div>	
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">1</h1>
							<p>Tournoi</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->	
			

			{{ with .Site.GetPage "/club/bureau" }}

			<a id="bureau"></a>
			<section class="services-area section-gap">
				
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">{{ .Title }}</h1>
		                        
		                    </div>
		                </div>
		            </div>
					
					<div class="row">
						{{ range .Params.membre}}
							<div class="col-sm-6 col-md-4 col-lg-3 members">
								<div class="row">
								
									<div class="col-4">
										<img class="img-fluid pics" src={{ .image}} alt="">
									</div>
									<div class="col-8">
									<h4> {{ .nom}}</h4>
									<p>
										{{.fonction}}
									</p>
									
									</div>
								</div>
							</div>
						{{ end}}
						
																			
					</div>
				</div>	
			</section>
			<!-- End services Area -->	
			
			
			

			
			{{ end }}
			
			</br>
			{{ with .Site.GetPage "/club/lieux_horaires" }}
			
			<a id="creneaux"></a>
			<section class="services-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">{{ .Title }}</h1>
		                        
		                    </div>
		                </div>
		            </div>



					<div class="section">
						
						<div class="progress-table-wrap">
							<div class="progress-table">
								<div class="table-head">
									<div class="jour">Jour</div>
									<div class="heure">Heure</div>
									<div class="lieu">Lieu</div>
									<div class="description">Description</div>
								</div>
								{{ range .Params.horaire}}
								<div class="table-row">
									<div class="jour">{{ .jour}}</div>
									<div class="heure"> {{ .heure}}</div>
									<div class="lieu">{{ .lieu}}</div>
									<div class="description">
										{{ .description}}
									</div>
								</div>
								
								{{end}}
								
								


							</div>
						</div>
					</div>


					<a id="gymnases"></a>
					<div class="row">
					{{ range .Params.lieu}}
					
						<div class="col-md-6">
							<div class="single-defination">
								<h4 class="mb-20">{{ .heading}}</h4>
								<p>{{ .text | markdownify}}</p>
							</div>
						
						</div>

					{{end}}

					</div>
				</div>	
			</section>					
					
			
			<iframe width="100%" height="600px" frameborder="0" allowfullscreen src="//umap.openstreetmap.fr/fr/map/bcmb_450457?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=false&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false&datalayers=1259137#14/48.7833/2.0524"></iframe>

			
			
			{{ end }}

			{{ with .Site.GetPage "/club/inscription" }}
			
				<section class="services-area section-gap">
					<div class="container">
						<div class="row d-flex justify-content-center">
							<div class="menu-content  col-lg-7">
								<div class="title text-center">
									<h1 class="mb-10">{{ .Title }}</h1>
									
								</div>
							</div>
						</div>						
				<p class="sample-text">
					{{ .Params.text | markdownify}}

				</p>
					</div>	
				</section>
			

			
			
			{{ end }}
		
{{end}}					  
			
		