<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 

	<link rel="stylesheet" href={{ "personal/css/linearicons.css"| relURL}}>
	<link rel="stylesheet" href={{ "personal/css/font-awesome.min.css" | relURL}}>
	<link rel="stylesheet" href={{ "personal/css/bootstrap.css" | relURL}}>
	<link rel="stylesheet" href={{ "personal/css/magnific-popup.css" | relURL}}>
	<link rel="stylesheet" href={{ "personal/css/jquery-ui.css" | relURL}}>				
	<link rel="stylesheet" href={{ "personal/css/nice-select.css" | relURL}}>							
	<link rel="stylesheet" href={{ "personal/css/animate.min.css" | relURL}}>
	<link rel="stylesheet" href={{ "personal/css/owl.carousel.css" | relURL}}>				
	<link rel="stylesheet" href={{ "personal/css/main.css" | relURL}}>
	
	<link rel="apple-touch-icon" sizes="180x180" href={{ "img/favicon/apple-touch-icon.png"| relURL}}>
	<link rel="icon" type="image/png" sizes="32x32" href={{ "img/favicon/favicon-32x32.png"| relURL}}>
	<link rel="icon" type="image/png" sizes="16x16" href={{ "img/favicon/favicon-16x16.png"| relURL}}>
			

</head>
<body class="homepage is-preload">
	<div class="wrapper">
		
		{{- partial "nav.html" . -}}

		{{- block "main" . }}{{- end }}
		
	</div>
	{{- partial "site-footer.html" . -}}
		
		
	<script src={{ "personal/js/vendor/jquery-2.2.4.min.js" | relURL}}></script>
	<script src={{ "personal/js/popper.min.js"| relURL}}></script>
	<script src={{ "personal/js/vendor/bootstrap.min.js"| relURL}}></script>			
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>			
	<script src={{ "personal/js/easing.min.js"| relURL}}></script>			
	<script src={{ "personal/js/hoverIntent.js"| relURL}}></script>
	<script src={{ "personal/js/superfish.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.ajaxchimp.min.js"| relURL}}></script>
	<script src={{ "personal/js/jquery.magnific-popup.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.tabs.min.js"| relURL}}></script>						
	<script src={{ "personal/js/jquery.nice-select.min.js"| relURL}}></script>	
	<script src={{ "personal/js/isotope.pkgd.min.js"| relURL}}></script>			
	<script src={{ "personal/js/waypoints.min.js"| relURL}}></script>
	<script src={{ "personal/js/jquery.counterup.min.js"| relURL}}></script>
	<script src={{ "personal/js/simple-skillbar.js"| relURL}}></script>							
	<script src={{ "personal/js/owl.carousel.min.js"| relURL}}></script>							
	<script src={{ "personal/js/mail-script.js"| relURL}}></script>	
	<script src={{ "personal/js/main.js"| relURL}}></script>
	
	
</body>

<!-- Scripts -->

	
</html>