{{ define "main" }}




    <!-- Class Section Begin-->
    <section class="class-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="section-title">
                                <h2>Actus</h2>
                                
                            </div>
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="class-item">
                                <div class="tab-content">
									{{ $.Scratch.Set "counter" 0 }}
									{{ range first 4 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}
									{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                                    <div class='tab-pane fade-in {{if eq ($.Scratch.Get "counter") 1}}active{{end}}' id='class-{{$.Scratch.Get "counter"}}' role="tabpanel">
                                        <div class="single-class-item">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <img src={{ .Params.image}} alt="">
                                                </div>
                                                <div class="col-lg-5 offset-lg-1">
                                                    <div class="class-text">
                                                        <h3>{{ .Title }}</h3>
                                                        <p>{{ .Description}}</p>
                                                        <a href="#" class="schedule-btn">Voir toutes les actus <i
                                                                class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									{{ end}}

                                    
                         
                                </div>
                            </div>
                        </div>
                    

                    
                </div>
            </div>
        </div>
    </section>
    <!-- Class Section End -->
	
	
	    <!-- Latest News Section Begin -->
    <section class="spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Derniers résultats</h2>
                        
                    </div>
                </div>
            </div>
            <div class="row">
			{{ range first 3 (where (where $.Site.RegularPages "Section" "resultat") ".Params.type" "!=" "interclub").ByPublishDate.Reverse}}
                <div class="col-lg-4">
                    <div class="latest-items">
                        <div class="latest-pic">
                            <img src={{.Params.image}} alt="">
                        </div>
                        <div class="latest-text">
                            
                            <h5><a href="blog-details.html">{{.Title}}</a></h5>
							<!-- <div class="latest-tag">
                                <p> {{ .Description }} </p>
                            </div> -->
                        </div>
                    </div>
                </div>
			{{end}}

            </div>
        </div>
    </section>
    <!-- Latest News Section End -->
	
	    <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>A venir</h2>
                        <p>Retrouvez ici les prochains évènement du club </p>
                    </div>
                    <div class="services-items">
					{{ $mymonths := index $.Site.Data.mois }}
						{{ $events := where .Site.RegularPages "Section" "event" }}
						{{ $events := $events | intersect (where $events "Date" "ge" now) | first 4 }}
						{{ $.Scratch.Set "counter" 0 }}
						{{ range $events }}
						{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
						
						
                        <div class='single-service-item color-{{$.Scratch.Get "counter"}}'>
                            <img src="img/icon-1.png" alt="">
                            <h5>{{.Date.Format "2"}} {{ index $mymonths (printf "%d" .Date.Month) }} </h5>
                            <p>{{.Title}}        </p>
                        </div>
						{{end}}

                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="section-title">
                        <h2>Interclubs</h2>
						<p> Résumé J12 </p>
					</div>
					
					<div class="interclub-table-wrap">
						<div class="interclub-table">

							
							<div class="table-row">
								<div class="equipe-1">BCMB 2</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF2	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 3</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 4</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 5</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 6</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 7</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>
							<div class="table-row">
								<div class="equipe-1">BCMB 8</div>
								<div class="score-1"> 7</div>
								<div class="score-2"> 0</div>
								<div class="equipe-2">ASFF3	</div>
							</div>							
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->



    





{{end}}