
{{ define "main" }}

	<section class="">
		<div class="container">
			<div class="row" style="padding:2rem" >
            <div class="col-lg-8">
                <p style="font-size: 18px; line-height:26px"> {{ .Content }} </p>
			
			</div>
            <div class="col-lg-4>
			{{if .Params.image}}

			<img class="f-img img-fluid mx-auto" src={{ .Params.image | relURL}} alt="">	
			{{end}}
			
			</div>
            </div>
			<div style="padding:5rem; margin-bottom: 2rem;" >
			{{ template "_internal/disqus.html" . }}
			</div>
		</div>
	</section>


			
{{end}}					  
			
	