{{ define "main" }}
 
<section id="main">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="content">

					<!-- Content -->

						<article class="box page-content">

							<header>
								<h2>{{.Title}}</h2>
								

							</header>

							<section>							
								<p>	{{ .Params.text | markdownify}}	</p>
                                
                               {{ if .Params.image }} <span class="image featured"> <img src="{{ .Params.image }}" alt="{{ .Title }}" /></span>{{ end }} 
							</section>



						</article>

				</div>
			</div>

		</div>
	</div>
</section>
{{ end }}
