{{ define "main" }}

    <!-- Site Breadcrumb Begin -->
    <section class="breadcrumb-section set-bg" data-setbg={{ "img/about-breadcrumb-bg.jpg" | relURL}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="site-text">
                        <h2>Nos Actualités</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>



	<section class="">
		<div class="container">
		<div class="section-title" style="margin-top:2em">
						<h2>{{.Title}}</h2>                                
					</div>
			
			<p> {{ .Description }}
			{{if .Params.image}}
			<img class="f-img img-fluid mx-auto" src={{ .Params.image }} alt="">	
			{{end}}
			{{ template "_internal/disqus.html" . }}
		</div>
	</section>


			
{{end}}					  
			
		