<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="badminton, montigny, skybad, bad, montigny-le-bretonneux, BCMB, club, sport">
    <meta name="author" content="BCMB">
    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
	
	<link rel="stylesheet" href={{ "triangle/css/bootstrap.min.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "triangle/css/font-awesome.min.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "triangle/css/animate.min.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "triangle/css/lightbox.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "triangle/css/main.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "triangle/css/responsive.css" | relURL}} media="all">
	

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header">      
{{- partial "site-nav.html" . -}}
    </header>
    <!--/#header-->

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>We Are Creative Nerds</h1>
                        <p>Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.</p>
                        <a href="#" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="images/home/icon1.png" alt="">
                        </div>
                        <h2>Incredibly Responsive</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="images/home/icon2.png" alt="">
                        </div>
                        <h2>Superior Typography</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="images/home/icon3.png" alt="">
                        </div>
                        <h2>Swift Page Builder</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Triangle Corporate Template</h1>
                            <p>A responsive, retina-ready &amp; wide multipurpose template.</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/image1.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Pork belly leberkas cow short ribs capicola pork loin. Doner fatback frankfurter jerky meatball pastrami bacon tail sausage. Turkey fatback ball tip, tri-tip tenderloin drumstick salami strip steak.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Built for the Responsive Web</h2>
                        <P>Mollit eiusmod id chuck turducken laboris meatloaf pork loin tenderloin swine. Pancetta excepteur fugiat strip steak tri-tip. Swine salami eiusmod sint, ex id venison non. Fugiat ea jowl cillum meatloaf.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/image2.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/image3.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Experienced and Enthusiastic</h2>
                        <P>Ut officia cupidatat anim excepteur fugiat cillum ea occaecat rump pork chop tempor. Ut tenderloin veniam commodo. Shankle aliquip short ribs, chicken eiusmod exercitation shank landjaeger spare ribs corned beef.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Clients</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client1.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client2.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="images/home/under.png" class="img-responsive inline" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="testimonial bottom">
                        <h2>Testimonial</h2>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile1.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                <h3><a href="#">- Jhon Kalis</a></h3>
                            </div>
                         </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img src="images/home/profile2.png" alt=""></a>
                            </div>
                            <div class="media-body">
                                <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                <h3><a href="">- Abraham Josef</a></h3>
                            </div>
                        </div>   
                    </div> 
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                        Phone: +1 (123) 456 7890 <br> 
                        Fax: +1 (123) 456 7891 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        Unit C2, St.Vincent's Trading Est., <br> 
                        Feeder Road, <br> 
                        Bristol, BS2 0UY <br> 
                        United Kingdom <br> 
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="contact-form bottom">
                        <h2>Send a message</h2>
                        <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
                            </div>                        
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; Your Company 2014. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
	<script src={{ "traingle/js/jquery.js" | relURL}}></script>
	<script src={{ "traingle/js/bootstrap.min.js" | relURL}}></script>
	<script src={{ "traingle/js/lightbox.min.js" | relURL}}></script>
	<script src={{ "traingle/js/wow.min.js" | relURL}}></script>
	<script src={{ "traingle/js/main.js" | relURL}}></script>
	
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>   
</body>
</html>





<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta name="keywords" content="badminton, montigny, skybad, bad, montigny-le-bretonneux, BCMB, club, sport">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet" > -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet" >

    <!-- Css Styles -->

    <link rel="stylesheet" href={{ "ponigym/css/bootstrap.min.css" | relURL}} media="all">
    <link rel="stylesheet" href={{ "ponigym/css/font-awesome.min.css" | relURL}} media="all">
    <link rel="stylesheet" href={{ "ponigym/css/themify-icons.css" | relURL}} media="all">
    <!-- <link rel="stylesheet" href={{ "ponigym/css/owl.carousel.min.css" | relURL}} media="all"> -->
    <!-- <link rel="stylesheet" href={{ "ponigym/css/magnific-popup.css" | relURL}}> -->
    <link rel="stylesheet" href={{ "ponigym/css/slicknav.min.css" | relURL}} media="all">
    <link rel="stylesheet" href={{ "ponigym/css/style.css" | relURL}} media="all">
	<link rel="stylesheet" href={{ "personal/css/linearicons.css"| relURL}} media="all">
	<!-- <link rel="stylesheet" href={{ "personal/css/main.css"| relURL}}> -->
	<!-- <link rel='stylesheet' href="{{ .Site.BaseURL }}/css/fullcalendar.min.css"> -->
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167628005-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-167628005-1');
	</script>

	
	
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
	
	<div class="content">
	{{- partial "site-nav.html" . -}}
	{{- partial "site-header.html" . -}}
	
    {{- block "main" . }}{{- end }}
	
	
	</div>





<!-- start footer Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="https://www.montigny78.fr/"><img class="mx-auto" src={{ "img/logo_montigny_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="http://www.ffbad.org/"><img class="mx-auto" src={{ "img/logo_ffbad_white.svg"| relURL}}  alt=""></a>
		                    </div>
							<div class="col single-brand">
		                        <a href="https://www.lardesports.com/badminton.html"><img class="mx-auto" src={{ "img/larde_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="https://www.badminton78.fr/"><img class="mx-auto" src={{ "img/comite78_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_lifb.png"| relURL}} alt="" style=""></a>
		                    </div>
							
							
		                </div>
		            </div>
		        </div>
		    </section>

    



    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container-fluid">

        </div>
        <div class="register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="footer-widget">
                            <ul>
                                <li><a href="{{.Site.BaseURL}}/club#bureau">Nous contacter </a></li>
                                <li><a href={{"about" | relURL}}>Mentions légales</a></li>
                                <li><a href="https://app.forestry.io/sites/aebp2kycerm0ug/#/" target="_blank">Se connecter</a></li>
                            </ul>
                        </div>
						<div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->



    <!-- Js Plugins -->
    <script src={{ "ponigym/js/jquery-3.3.1.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/bootstrap.min.js" | relURL}}></script>
 <!--    <script src={{ "ponigym/js/jquery.magnific-popup.min.js" | relURL}}></script> -->
    <script src={{ "ponigym/js/mixitup.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/jquery.slicknav.js" | relURL}}></script>
<!--     <script src={{ "ponigym/js/owl.carousel.min.js" | relURL}}></script> -->
    <script src={{ "ponigym/js/main.js" | relURL}}></script>
	
	
	<!-- <script src={{ "personal/js/vendor/jqu<!-- ery-2.2.4.min.js" | relURL}}></script>
	<script src={{ "personal/js/popper.min.js"| relURL}}></script> --> -->
		
<!-- 	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script> -->			
	<!-- <script src={{ "personal/js/easing.min.js"| relURL}}></script>			 -->
	<!-- <script src={{ "personal/js/hoverIntent.js"| relURL}}></script> -->
	<!-- <script src={{ "personal/js/superfish.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.ajaxchimp.min.js"| relURL}}></script>
	<script src={{ "personal/js/jquery.magnific-popup.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.tabs.min.js"| relURL}}></script>						
	<script src={{ "personal/js/jquery.nice-select.min.js"| relURL}}></script>	
	<script src={{ "personal/js/isotope.pkgd.min.js"| relURL}}></script>			
	<script src={{ "personal/js/waypoints.min.js"| relURL}}></script>
	 <script src={{ "personal/js/jquery.counterup.min.js"| relURL}}></script> 
	<script src={{ "personal/js/simple-skillbar.js"| relURL}}></script>							
	<script src={{ "personal/js/owl.carousel.min.js"| relURL}}></script>							
	<script src={{ "personal/js/mail-script.js"| relURL}}></script>	
	<script src={{ "personal/js/main.js"| relURL}}></script>
	 -->
	
	
	<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/js-year-calendar@latest/locales/js-year-calendar.fr.js"></script>
	
</body>

</html>