    <!-- Trainer Table Schedule Section Begin -->
<section class="schedule-vert trainer-schedule class-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Les Créneaux</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Maréchal</th>
                                    <th>Rivière</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" class="workout-time">Lundi</td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        <span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                            Benjamins / Minimes
                                        </div>
									</td>

                                    
                                    <td></td>
                                    
                                    
                                    
                                </tr>
                                <tr>
									<td class="compet ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs 1</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>

                                </tr>
								<tr>
                                    <td rowspan="2" class="workout-time">Mardi</td>
									<td></td>
									
									<td class="jeunes ts-item" data-tsmeta="jeunes">
										<span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                             MiniBad / Poussins
                                        </div>
                                    </td>

                                </tr>
								<tr>
									<td></td>
									<td class="compet ts-item" data-tsmeta="loisir">
										<span>20.00 - 22.30</span>
										<h6>Loisirs</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
									

									
									

								</tr>
                                
                                <tr>
                                    <td rowspan="2" class="workout-time">Mercredi</td>
									<td rowspan="2" class="loisirs ts-item" data-tsmeta="loisir">
                                        <h6>Loisirs</h6>
                                        <span>19.00 - 21.00</span>
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
									
									


                                </tr>
                                <tr>
									
                                    <td class="compet ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs 2</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="workout-time">Jeudi</td>
                                    <td></td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
										<span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                            Entrainement
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
									<td></td>
                                    <td class="loisirs ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs</h6>
                                        
                                        <div class="trainer-name">
                                            Entrainement
                                        </div>
                                    </td>
                                    
                                    
                                </tr>
                                <tr>
                                    <td rowspan="2" class="workout-time">Vendredi</td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        <h6>Jeunes</h6>
                                        <span>19.00 - 20.30</span>
                                        <div class="trainer-name">
                                            Cadets / Juniors
                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                <td class="compet ts-item" data-tsmeta="compet">
                                        <h6>Compétiteurs</h6>
                                        <span>20.30 - 22.30</span>
                                        <div class="trainer-name">
                                            Interclubs
                                        </div>
                                    </td>
									<td></td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="schedule-horiz trainer-schedule class-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Les Créneaux</h2>
                        <div class="nav-controls">
                            <ul class="schedule-filter">
                                <li class="active" data-tsfilter="all">Tous</li>
                                <li data-tsfilter="compet">Compétiteurs</li>
                                <li data-tsfilter="loisir">Loisirs</li>                                
                                <li data-tsfilter="jeunes">Jeunes</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="2" class="workout-time">Maréchal</td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        <span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                            Benjamins / Minimes
                                        </div>
									</td>

                                    <td></td>
                                    <td rowspan="2" class="loisirs ts-item" data-tsmeta="loisir">
                                        <h6>Loisirs</h6>
                                        <span>19.00 - 21.00</span>
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        <h6>Jeunes</h6>
                                        <span>19.00 - 20.30</span>
                                        <div class="trainer-name">
                                            Cadets / Juniors
                                        </div>
                                    </td>
                                    
                                    
                                </tr>
                                <tr>
									<td class="compet ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs 1</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
                                    
                                    <td>
                                    </td>
                                    <td></td>
                                    <td class="compet ts-item" data-tsmeta="compet">
                                        <h6>Compétiteurs</h6>
                                        <span>20.30 - 22.30</span>
                                        <div class="trainer-name">
                                            Interclubs
                                        </div>
                                    </td>
                                    
                                    
                                </tr>
								<tr>
                                    <td rowspan="2" class="workout-time">Rivière</td>
									<td></td>
									
									<td class="jeunes ts-item" data-tsmeta="jeunes">
										<span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                             MiniBad / Poussins
                                        </div>
                                    </td>
									<td></td>
									<td class="jeunes ts-item" data-tsmeta="jeunes">
										<span>18.30 - 20.00</span>
										<h6>Jeunes</h6>
                                        
                                        <div class="trainer-name">
                                            Entrainement
                                        </div>
                                    </td>
									
									<td></td>
                                </tr>
								<tr>
									<td></td>
									<td class="compet ts-item" data-tsmeta="loisir">
										<span>20.00 - 22.30</span>
										<h6>Loisirs</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
									
									<td class="compet ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs 2</h6>
                                        
                                        <div class="trainer-name">
                                            Jeu libre
                                        </div>
                                    </td>
									
									
									<td class="loisirs ts-item" data-tsmeta="compet">
										<span>20.00 - 22.30</span>
										<h6>Compétiteurs</h6>
                                        
                                        <div class="trainer-name">
                                            Entrainement
                                        </div>
                                    </td>
								</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
  
    <!-- Trainer Table Schedule Section End -->