<header class="header-section header-normal">
	<div class="container">
		<div class="logo">
			<a href="/">
				<img src={{ "img/logo.webp"| relURL}} alt="" style="height: 5em">
			</a>
		</div>
		<div class="nav-menu">
			<nav class="mainmenu mobile-menu">
				<ul>
					{{ range $.Site.Menus.main }}
					<li><a href={{ .URL }}>{{- .Name -}}</a>
						
						{{ if .HasChildren }}
                        <ul class="dropdown">
							{{ range .Children }}
								<li> <a href="{{ .URL }}">{{ .Name }}</a></li>
							{{ end }}
                        </ul>
						{{end}}
                        
						
					</li>
					{{end}}

				</ul>
			</nav>
			<div class="nav-right">
				
				<a href="https://fr-fr.facebook.com/Badminton-Club-Montigny-Le-Bretonneux-BCMB-1401352533418811/">
				<i class="fa fa-facebook"></i>
				</a>
			</div>
		</div>
		<div id="mobile-menu-wrap"></div>
	</div>
</header>