{{ $mymonths := index $.Site.Data.mois }}

<div class="last_actu row" style="padding-top: 1rem; padding-bottom: 1rem">
	<div class="col-lg-12" >
	
		<div class="section-title">

		
	
	<h2>Dernières nouvelles</h2>
	
	</div>
	{{ range first 2 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}

		<div class="blog-items" style="margin-bottom: 0.8em">
			
			<div class="single-blog-item" >
				<div class="blog-text" > 
					<div class="row"> 
						{{if .Params.image}}
						<div class="col-lg-4" >
							<img src="/{{.Params.image}}" alt="" style="width: 100%; height: 100%;  object-fit: cover;">
						</div>
						
						<div class="col-lg-8" >
							
								<h3> {{.Title }} </h3>
								
								
								
							
							
							<p>{{.Description | markdownify}}</p>
							
							
								
								<p style="font-size: 10px;">Publié le {{.Date.Format "02 January 2015"}}   
								
								
								
								<span style="float: right"><a  href="{{ .Permalink }}#disqus_thread"> # Réactions </a></span>
								
							
								</p>
							
						</div>
						
						{{else}}
						<div class="col-lg-12">
							
							<p>{{.Description | markdownify}}</p>
							
							
						</div>
						
						{{end}}
						<div class="col-lg-12">
							<div class="comment-count">
							
							</div>
						
						</div>
					</div>

				</div> 
				
				
			</div>
		</div>
	{{end}}
	</div>


	
</div>