<!-- start footer Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="https://www.montigny78.fr/"><img class="mx-auto" src={{ "img/logo_montigny_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="http://www.ffbad.org/"><img class="mx-auto" src={{ "img/logo_ffbad_white.svg"| relURL}}  alt=""></a>
		                    </div>
							<div class="col single-brand">
		                        <a href="https://www.lardesports.com/badminton.html"><img class="mx-auto" src={{ "img/larde_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="https://www.badminton78.fr/"><img class="mx-auto" src={{ "img/comite78_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_lifb.png"| relURL}} alt="" style=""></a>
		                    </div>
							
							
		                </div>
		            </div>
		        </div>
		    </section>
			
		    <!-- End brands Area -->
<footer class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="single-footer-widget">
					<h4><a href={{"about" | relURL}}>Mentions légales</a></h4>
					<p>
						CGU
					</p>
					
				</div>
			</div>


		</div>
		
		<p class="footer-text"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	</div>
</footer>