{{ define "main" }}

	<link rel="stylesheet" href={{"fullcalendar/main.css" |relURL}} rel="stylesheet" />
	<script src={{"fullcalendar/main.js" |relURL}}></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
	  firstDay: 1,
	  displayEventTime: false, 
	  locale: 'fr',
	  height: 'auto',
      events: {{"event/index.json"| relURL}},	  
	  headerToolbar: {
		  start: 'title', // will normally be on the left. if RTL, will be on the right
		  center: '',
		  end: 'prev,next' // will normally be on the right. if RTL, will be on the left
		}
    });

    calendar.render();
  });

</script>





			

                
                
<section class="blog-section">


	<div class="container" style="padding-top:1em">


	

			{{ partial "last_actu.html" . }}

            
            
				<!---->
						<!-- 	<div class="col-sm-12 col-lg-3" >
					
							{{ $mymonths := index $.Site.Data.mois}}
							{{ $mydays := index $.Site.Data.jour }}
							{{ $events := (where .Site.RegularPages "Section" "event").Reverse }}
							{{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
							{{ $.Scratch.Set "counter" 0 }}
							
							
							
						<div class="row">
								{{ range $events }}								
								{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
								
								
								<div class="col-lg-12">
									<div class="event_dev" style="text-align: center;">
										<div class="day_str">
											 
											
											{{if ne .Params.date.Day .Params.end_date.Day}} 
											
												{{if ne .Params.date.Month .Params.end_date.Month}}
													{{.Date.Format "02"}} {{ index $mymonths (printf "%d" .Date.Month) }}  -  {{.Params.end_date.Format "02"}} {{ index $mymonths (printf "%d" .Params.end_date.Month) }} 
												{{else}}
													{{.Date.Format "02"}}  -  {{.Params.end_date.Format "02"}} {{ index $mymonths (printf "%d" .Params.end_date.Month) }} 
												{{end}}
											{{else}}
											
												{{.Date.Format "02"}} {{ index $mymonths (printf "%d" .Date.Month) }}
											{{end}} 
										</div>							
																	
										<div class="infos">
											<h4>{{.Title}}</h4>
											{{.Params.lieu}} 
										</div>
									</div>
								
								</div>
								
								{{end}}
								
						</div>
						
						
					</div>  -->

                        <div class="col-lg-12">	
				<div style="border-bottom: 1px solid #f34e3a; margin-bottom: 10px; padding-top:2em;">
					<h3 style="font-family: Pacifico; text-transform: none;font-weight: 400; font-size: 36px;">Derniers résultats</h3> 
				</div>
				{{ partial "last_result.html" . }}
        </div>
		
		 	<div class="row">
			
				<div class="col-lg-12" >
						<div style="border-bottom: 1px solid #f34e3a; margin-bottom: 10px">
							<h3 style="font-family: Pacifico; text-transform: none;font-weight: 400; font-size: 36px;">Calendrier</h3> 
						</div>
				</div>
			

			
				<div class="col-sm-12 col-lg-12">
					
						<div id='calendar'></div>
					
					


				</div> </div> 
                
                



	</div>


</section>




	
{{ end }}