{{ define "main" }}

			<!-- <!-- start banner Area -->
			<section class="banner-area relative blog-home-banner" id="home">	
				<div class="overlay overlay-bg"></div>
					<div class="container">				
						<div class="row d-flex align-items-center justify-content-center">
							<div class="blog-header-content col-lg-12">
								<h1 class="text-white">	{{.Title}}		</h1>	
							
							</div>	
						</div>
					</div>
				
			</section>
		
			
			<!-- Start recent-blog Area -->
			<section class="section-gap">
				<div class="container" >
				
					<div class="col-md-8 pb-20" >
						<a href="/post"> <h1>Actus</h1> </a>
					</div>
					<div class="row align-items-left justify-content-between">
						
						{{ range first 1 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}
						
						<div class="col-lg-4 col-md-6 home-about-left">
							<img class="img-fluid" src={{ .Params.image }} alt="">
						</div>
						<div class="col-lg-4 col-md-6 home-about-middle">
							
							<h2 class="text-uppercase"><a href="{{.Permalink}}">{{ .Title }}</a></h2>
							<p>
								{{ .Description }}
							</p>
							
						</div>
						
						{{ end }}
						<div class="col-lg-4 col-md-12 home-about-right">
							
							<div class="single-sidebar-widget popular-post-widget">								
									
									<div class="popular-post-list">
									
										{{ range first 3 (after 1 (where $.Site.RegularPages "Section" "post")).ByPublishDate.Reverse }}
									
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="col-lg-6">
												<a href="{{.Permalink}}"><img class="img-fluid" src={{ .Params.image }} alt=""></a>
											</div>
											<div class="col-lg-6">
												<a href="{{.Permalink}}"><h5>{{ .Title }}</h5></a>
												
											</div>
										</div>
										
									{{ end }}
											
									</div>
							</div>
							
						</div>

					</div>
				


				</div>	
			</section>
			<!-- end recent-blog Area -->		
			



			
			

			<!-- Start recent-blog Area -->	
			<section class="section-gap section-top-border">
				<div class="container"  >
					<div class="row">
						<div class="col-md-4 sol-sm-12 pb-20" >
							<h1 class="pb-20" style="text-align:center"><a href="/resultat">Resultats </a></h1>
								
								
								{{ range first 2 (where (where $.Site.RegularPages "Section" "resultat") ".Params.type" "!=" "interclub").ByPublishDate.Reverse}}
						
								<div class="resultat">
								<a href="{{.Permalink}}">
									<div class="res_image">
									<img class="f-img img-fluid mx-auto" src={{ .Params.image }} alt="">	
									</div>
									<div class="res_text">
											<h4>{{.Title}}</h4>
											<p> {{.Description}} </p>
										</a>
									</div>
								</div>
							
								{{end}}				
													
														
								
						</div>
								
						<div class="col-md-4 col-sm-12 pb-20" >
							<h1 class="pb-20" style="text-align:center">Interclubs</h1>
										
						
							
							
								<div class="interclub-table-wrap">
									<div class="interclub-table">

										<h4> Résumé J12 </h4>
										<div class="table-row">
											<div class="equipe-1">BCMB 2</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF2	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 3</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 4</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 5</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 6</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 7</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										<div class="table-row">
											<div class="equipe-1">BCMB 8</div>
											<div class="score-1"> 7</div>
											<div class="score-2"> 0</div>
											<div class="equipe-2">ASFF3	</div>
										</div>
										
										
								
										
										


									</div>
								</div>
							
							

							
							
						</div>
						<div class="col-md-4 col-sm-12 pb-20 header-text" >
							<h1 class="pb-20" style="text-align:center"> A venir </h1>
							{{ $mymonths := index $.Site.Data.mois }}

								
									

								
							
								{{ $events := where .Site.RegularPages "Section" "event" }}
								{{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
								
									 <div class="row">
									 {{- range $events.Reverse -}}
										<div class="col-sm-6">
											<div class="event">
											<div class="date">
											{{.Date.Format "2"}} {{ index $mymonths (printf "%d" .Date.Month) }} 
											</div> 
											<div class="title">
											<p>{{.Title}}</p>
											</div>
											</div>
										</div>
									{{- end -}}										
									</div>
								
								
					

						</div>

					</div>
						
				</div>

					
			</section>
			<!-- end recent-blog Area -->

	


		



			
{{end}}