{{ define "main" }}

			<!-- <!-- start banner Area -->
			<section class="banner-area relative blog-home-banner" id="home">	
				<div class="overlay overlay-bg"></div>
					<div class="container">				
						<div class="row d-flex align-items-center justify-content-center">
							<div class="blog-header-content col-lg-12">
								<h1 class="text-white">	{{.Title}}		</h1>	
							
							</div>	
						</div>
					</div>
				
			</section>
		
			
			<!-- Start recent-blog Area -->
			<section class="section-gap">
				<div class="container" style="border:solid 1px;">
				
					<div class="col-md-8 pb-20" >
						<h1>Actus</h1>
					</div>
					<div class="row align-items-left justify-content-between">
						
						{{ range first 1 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}
						<div class="col-lg-4 col-md-6 home-about-left">
							<img class="img-fluid" src={{ .Params.image }} alt="">
						</div>
						<div class="col-lg-4 col-md-6 home-about-middle">
							
							<h2 class="text-uppercase">{{ .Title }}</h2>
							<p>
								{{ .Description }}
							</p>
							
						</div>
						{{ end }}
						<div class="col-lg-4 col-md-6 home-about-right">
							
							<div class="single-sidebar-widget popular-post-widget">								
									
									<div class="popular-post-list">
									
									{{ range first 3 (after 1 (where $.Site.RegularPages "Section" "post")).ByPublishDate.Reverse }}
										<div class="single-post-list d-flex flex-row align-items-center">
											<div class="col-lg-6">
												<img class="img-fluid" src={{ .Params.image }} alt="">
											</div>
											<div class="col-lg-6">
												<a href=""><h5>{{ .Title }}</h5></a>
												
											</div>
										</div>
									{{ end }}
											
									</div>
								</div>
							
						</div>

					</div>
				


				</div>	
			</section>
			<!-- end recent-blog Area -->		
			



			
			

			<!-- Start recent-blog Area -->	
			<section class="section-gap">
				<div class="container"  >
					<div class="row">
						<div class="col-md-4 pb-20" style="border:solid 1px;">
							<h1 class="pb-20" style="text-align:center">Tournois</h1>
								<div class="row ">	
								{{ range first 2 (where $.Site.Pages "Section" "resultat").ByPublishDate.Reverse }}
								<div class="row single-recent-blog col-lg-12 col-md-6">
									<div class="col-md-4 thumb resultats">
										<img class="f-img img-fluid mx-auto" src={{ .Params.image }} alt="">	
									</div>
									<div class="col-md-8">
										<a href="#">
											<h4>{{.Title}}</h4>
											
										</a>
									</div>
								</div>
								{{end}}				
													
														
								</div>
						</div>
								
						<div class="col-md-4 pb-20" style="border:solid 1px;">
							<h1 class="pb-20" style="text-align:center">Interclubs</h1>
						</div>
						<div class="col-md-4 pb-20 header-text" style="border:solid 1px;">
							<h1 class="pb-20" style="text-align:center"> Evènements </h1>
							{{ $mymonths := index $.Site.Data.mois }}
							<div class="typo-sec">
								<ul class="event_list">
									

								
							
							{{ $events := where .Site.RegularPages "Section" "event" }}
							{{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
							{{- range $events.Reverse -}}
								<li> <div class="row list_event">
										<div class="date_event">
										{{.Date.Format "2"}} {{ index $mymonths (printf "%d" .Date.Month) }} 
										</div> 
										<h3>{{ .Title }} </h3> 
									</div> 
								</li>
							{{- end -}}
							</ul>
							</div>
						</div>

					</div>
						
				</div>

					
			</section>
			<!-- end recent-blog Area -->

	


		    <!-- Start brands Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_montigny_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_ffbad_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/comite78_white.svg"| relURL}} alt=""></a>
		                    </div>

		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/larde_white.svg"| relURL}} alt=""></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End brands Area -->			

{{ template "_internal/disqus.html" . }}

			
{{end}}