{{ define "main" }}
			<!-- start banner Area -->
			<section class="banner-area relative blog-home-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content blog-header-content col-lg-12">
							<h1 class="text-white">
								Badminton Club Montigny-le-Bretonneux		
							</h1>	

							
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->
			
			
			<!-- Start recent-blog Area -->
			<section class="recent-blog-area section-gap">
				<div class="container">
				
				{{ range first 1 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}
					<div class="row align-items-center justify-content-between">
						<div class="col-lg-6 col-md-6 home-about-left">
							<img class="img-fluid" src={{ .Params.image }} alt="">
						</div>
						<div class="col-lg-5 col-md-6 home-about-right">
							<h6>A la une</h6>
							<h1 class="text-uppercase">{{ .Title }}</h1>
							<p>
								{{ .Description }}
							</p>
							<a href="#" class="primary-btn text-uppercase">View Full Details</a>
						</div>

					</div>
				{{ end }}
					<div class="row justify-content-center">
						<div class="col-md-8 pb-30 header-text">
							<h1>Actualités</h1>
							
						</div>
					</div>
					<div class="row">
					
							{{ range first 3 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}

					
						<div class="single-recent-blog col-lg-4 col-md-4">
							<div class="thumb">
								<img class="f-img img-fluid mx-auto" src={{ .Params.image }} alt="">	
							</div>
<!-- 							<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
								<div>
									<img class="img-fluid" src="img/user.png" alt="">
									<a href="#"><span>Mark Wiens</span></a>
								</div>
								<div class="meta">
									13th Dec
									<span class="lnr lnr-heart"></span> 15
									<span class="lnr lnr-bubble"></span> 04
								</div>
							</div> -->							
							<a href="#">
								<h4>{{ .Title }}</h4>
							</a>
<!-- 							<p>
								{{ .Description }}
							</p> -->
						</div>
						
						{{end}}	
										
											
												
					</div>
				</div>	
			</section>
			<!-- end recent-blog Area -->		
			







			<!-- Start portfolio-area Area -->
            <section class="portfolio-area section-gap" id="portfolio">
                <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-20 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Résultats</h1>
		                        
		                    </div>
		                </div>
		            </div>
                    
                    <div class="filters">
                        <ul>
                            <li class="active" data-filter="*">Tous</li>
                            <li data-filter=".tournoi">Tournoi</li>
                            <li data-filter=".jeunes">Jeunes</li>
                            <li data-filter=".interclub">Interclubs</li>

                        </ul>
                    </div>
                    
                    <div class="filters-content">
                        <div class="row grid">
						{{ range first 6 (where $.Site.Pages "Section" "resultat").ByPublishDate.Reverse }}
                            <div class="single-portfolio col-sm-4 all {{ .Params.type}}">
                            	<div class="relative">
	                            	<div class="thumb">
	                            		<div class="overlay overlay-bg"></div>
	                            		 <img class="image img-fluid" src={{ .Params.image }} alt="">
	                            	</div>
									<a href="img/p1.jpg" class="img-pop-up">	
									  <div class="middle">
									    <div class="text align-self-center d-flex">
										<h4> {{ .Title }}</h4>													
										</div>
									  </div>
								</a>                              		
                            	</div>
								<div class="p-inner">

								</div>					                               
                            </div>
						{{ end }}


                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End portfolio-area Area -->	

			<!-- Start portfolio-area Area -->
            <section class="portfolio-area section-gap" id="portfolio">
                <div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-20 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Calendrier </h1>
		                        
		                    </div>
		                </div>
		            </div>
                    
                    
                </div>
            </section>
            <!-- End Calendar Area -->	

	

		    <!-- Start brands Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_montigny_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_ffbad_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/comite78_white.svg"| relURL}} alt=""></a>
		                    </div>

		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/larde_white.svg"| relURL}} alt=""></a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- End brands Area -->			



			
{{end}}