{{ $mymonths := index $.Site.Data.mois }}


<section id="blog" class="padding-top">
    <div class="container">

                <div class="row">
                {{ range first 3 (where $.Site.Pages "Section" "in" (slice "post" "resultat")).ByPublishDate.Reverse }}
                
                    {{if eq .Section "post"}}
                         <div class="col-md-4 col-sm-12 blog-padding-right">
                         
                            <div class="single-blog two-column">
                                <div class="post-thumb">
                                    <a href="blogdetails.html"><img src={{.Params.image}} class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{.Date.Format "02"}} <br><small> {{ index $mymonths (printf "%d" .Date.Month) }}</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html"> {{.Title}} </a></h2>
                                    <!-- <h3 class="post-author"><a href="#">Posted by micron News</a></h3> -->
                                    <p>{{.Description | markdownify}}</p>
                                    <a href={{.Permalink}} class="read-more">Voir plus</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav nav-justified post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>{{ .Params.categorie }}</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ else }}
                         <div class="col-md-4 col-sm-12 blog-padding-right">
                         
                            <div class="single-blog two-column">
                                <div class="post-thumb">
                                    <a href="blogdetails.html"><img src={{.Params.image}} class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{.Date.Format "02"}} <br><small> {{ index $mymonths (printf "%d" .Date.Month) }}</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html"> {{.Title}} </a></h2>
                                    <!-- <h3 class="post-author"><a href="#">Posted by micron News</a></h3> -->
                                    
                                    {{ if eq .Params.categorie "departementale"}}
                                    
                                        <div class="interclub-table-wrap">
                                            <div class="interclub-table">

                                                {{ range .Params.score}}
                                                <a href={{.link}}>
                                                <div class="table-row">
                                                    <div class="equipe-1">{{.equipe1}}</div>
                                                    {{ if ge .score1 .score2 }}
                                                    
                                                    <div class="victory score-1"> {{.score1}}</div>
                                                    <div class="victory score-2"> {{.score2}}</div>
                                                    
                                                    {{else}}
                                                    <div class="score-1"> {{.score1}}</div>
                                                    <div class="score-2"> {{.score2}}</div>
                                                    
                                                    {{ end }}
                                                    <div class="equipe-2">{{.equipe2}}	</div>
                                                </div>
                                                </a>
                                                {{end}}
                                            </div>
                                        </div>
                                        
                                    {{else }}
                                                            
                                        <p>{{.Description | markdownify}}</p>
                                        {{if gt (len .Content) 2}}
                                        <a href={{.Permalink}} class="read-more">Voir plus</a>
                                        {{end}}
                                                            
                                    {{ end}}
                                    
                                    
                                    
                                    <a href={{.Permalink}} class="read-more">Voir plus</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav nav-justified post-nav">
                                        
                                        {{ if eq .Params.categorie "departementale"}}
                                                           <li><a href="#"><i class="fa fa-tag"></i> Interclubs</a></li> 
                                                        {{ else }}
                                                        
                                                            <li><a href="#"><i class="fa fa-tag"></i>Tournois</a></li>
                                                        {{ end }}
                                                        
                                                        
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }} 
                 {{ end }}                  
                
        </div>
    </div>
</section>