    <!-- Trainer Table Schedule Section Begin -->
    <section class="trainer-schedule class-timetable spad">
        <div class="container">

    
                <div class="col-lg-12">
                    <div class="schedule-table">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Lundi</th>
                                    <th>Mardi</th>
                                    <th>Mercredi</th>
                                    <th>Jeudi</th>
                                    <th>Vendredi</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="workout-time">Maréchal</td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        
										<h6>Benjamins / Minimes</h6>
                                        <span>18.30 - 20.00</span>
                                        
									</td>

                                    <td></td>
                                    <td class="loisirs ts-item" data-tsmeta="loisir">
                                        
                                    </td>
                                    <td></td>
                                    <td class="jeunes ts-item" data-tsmeta="jeunes">
                                        <h6>Cadets / Juniors</h6>
                                        <span>19.00 - 20.30</span>
                                        
                                    </td>
                                    
                                    
                                </tr>

								<tr>
                                    <td class="workout-time">Rivière</td>
									<td></td>
									
									<td class="jeunes ts-item" data-tsmeta="jeunes">
										
										<h6>Entrainement</h6>
                                        <span>18.00 - 20.00</span>
                                        
                                    </td>
									<td></td>
									<td class="jeunes ts-item" data-tsmeta="jeunes">
										<h6>MiniBad / Poussins</h6>
										<span>18.00 - 19.30</span>
										
                                        
                                        
                                    </td>
									
									<td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

        </div>
    </section>
    <!-- Trainer Table Schedule Section End -->