{{ define "main" }}

			<!-- start banner Area -->





	<section class="sample-text-area">
		<div class="container">
			
			<div class="row" style="padding-top: 1em">
				<div class="col-sm-6 pb-20" >
								 
					  
					  <p>{{ .Params.Description }} </p>

				</div>
				<div class="col-md-6 pb-20" >	  
					  <img class="f-img img-fluid mx-auto" src={{ .Params.image | relURL}} alt="">	
					  
								
				</div>
			</div>
			
			<div class="col-sm-12 pb-20" >
			
				<h2 class="pb-20"> Calendrier et Résultats</h2>
						{{ if .Params.iframe }}
							<article class="box page-content">
								<iframe src="{{ .Params.iframe}}" frameborder="0" style="overflow:hidden;width:100%" height="1000" width="100%"></iframe>
							</article>    
						{{ end }}	
			

			</div>
			
		</div>
	</section>


			
{{end}}					  
			
		