<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Badminton Club Montigny-le-Bretonneux">
    <meta name="keywords" content="BCMB, badminton, montigny">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->

    <link rel="stylesheet" href={{ "ponigym/css/bootstrap.min.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/font-awesome.min.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/themify-icons.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/owl.carousel.min.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/magnific-popup.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/slicknav.min.css" | relURL}}>
    <link rel="stylesheet" href={{ "ponigym/css/style.css" | relURL}}>
	<link rel="stylesheet" href={{ "personal/css/linearicons.css"| relURL}}>
	<link rel='stylesheet' href="{{ .Site.BaseURL }}/css/fullcalendar.min.css" />
	
	
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
	
	<div class="content">
	{{- partial "site-nav.html" . -}}
	
	
    {{- block "main" . }}{{- end }}
	
	
	</div>





<!-- start footer Area -->
		    <section class="brands-area">
		        <div class="container">
		            <div class="brand-wrap">
		                <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
		                    <div class="col single-brand">
		                        <a href="https://www.montigny78.fr/"><img class="mx-auto" src={{ "img/logo_montigny_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="http://www.ffbad.org/"><img class="mx-auto" src={{ "img/logo_ffbad_white.svg"| relURL}}  alt=""></a>
		                    </div>
							<div class="col single-brand">
		                        <a href="https://www.lardesports.com/badminton.html"><img class="mx-auto" src={{ "img/larde_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    <div class="col single-brand">
		                        <a href="https://www.badminton78.fr/"><img class="mx-auto" src={{ "img/comite78_white.svg"| relURL}} alt=""></a>
		                    </div>
		                    
		                    <div class="col single-brand">
		                        <a href="#"><img class="mx-auto" src={{ "img/logo_lifb.png"| relURL}} alt="" style=""></a>
		                    </div>
							
							
		                </div>
		            </div>
		        </div>
		    </section>

    



    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container-fluid">

        </div>
        <div class="register">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="footer-widget">
                            <ul>
                                <li>Privacy Policy</li>
                                <li>Metions légales</li>
                                <li>Se connecter</li>
                            </ul>
                        </div>
						<div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->



    <!-- Js Plugins -->
    <script src={{ "ponigym/js/jquery-3.3.1.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/bootstrap.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/jquery.magnific-popup.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/mixitup.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/jquery.slicknav.js" | relURL}}></script>
    <script src={{ "ponigym/js/owl.carousel.min.js" | relURL}}></script>
    <script src={{ "ponigym/js/main.js" | relURL}}></script>
	
	
	<script src={{ "personal/js/vendor/jquery-2.2.4.min.js" | relURL}}></script>
	<script src={{ "personal/js/popper.min.js"| relURL}}></script>
		
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>			
	<script src={{ "personal/js/easing.min.js"| relURL}}></script>			
	<script src={{ "personal/js/hoverIntent.js"| relURL}}></script>
	<script src={{ "personal/js/superfish.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.ajaxchimp.min.js"| relURL}}></script>
	<script src={{ "personal/js/jquery.magnific-popup.min.js"| relURL}}></script>	
	<script src={{ "personal/js/jquery.tabs.min.js"| relURL}}></script>						
	<script src={{ "personal/js/jquery.nice-select.min.js"| relURL}}></script>	
	<script src={{ "personal/js/isotope.pkgd.min.js"| relURL}}></script>			
	<script src={{ "personal/js/waypoints.min.js"| relURL}}></script>
	 <script src={{ "personal/js/jquery.counterup.min.js"| relURL}}></script> 
	<script src={{ "personal/js/simple-skillbar.js"| relURL}}></script>							
	<script src={{ "personal/js/owl.carousel.min.js"| relURL}}></script>							
	<script src={{ "personal/js/mail-script.js"| relURL}}></script>	
	<script src={{ "personal/js/main.js"| relURL}}></script>
	
	
	<script src='{{ .Site.BaseURL }}/js/moment.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/jquery.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/jquery-ui.custom.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/fullcalendar.min.js'></script>
	
</body>

</html>