{{ define "main" }}

    <!-- Site Breadcrumb Begin -->
    <section class="breadcrumb-section set-bg" data-setbg={{ "img/about-breadcrumb-bg.jpg" | relURL}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="site-text">
                        <h2>Inscription </h2>

                    </div>
                </div>
            </div>
        </div>
    </section>



<!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
 
					

						
						<p>{{.Params.text | markdownify}}</p>
						
						<h2> Tarifs </h2>
						
						<h2> Documents à fournir </h2>


				

				
					    <!-- Latest News Section Begin -->


 </div>

    </section>
    <!-- Blog Section End -->
	
{{ end }}


