{{ define "main" }}

    <!-- Site Breadcrumb Begin -->
    <section class="breadcrumb-section set-bg" data-setbg={{ "img/about-breadcrumb-bg.jpg" | relURL}}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="site-text">
                        <h2> Calendrier</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>




    <section>
        <div class="container">

    <div id="calendar"></div>
	</div>
	</section>
<style>


	
	
	#wrap {
		width: 1100px;
		margin: 0 auto;
		}

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}

	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
		
        margin: 2em auto;
		
		
		background-color: #FFFFFF;
		border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		}

</style>
    <script src='{{ .Site.BaseURL }}/js/moment.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/jquery.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/jquery-ui.custom.min.js'></script>
    <script src='{{ .Site.BaseURL }}/js/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function () {

            console.log("Ready...");

            $('#calendar').fullCalendar({
				buttonText: {today: "Aujourd'hui", month:    'mois',  week:     'semaine',  day:      'jour',  list:     'liste'},
				monthNames: ['Janvier','Févier','Mars','Avril','Mai','Juin','Juillet','Aout','Septiembre','Octubre','Noviembre','Diciembre'],
				monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun','Jul','Aou','Sep','Oct','Nov','Dec'],
				dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
				dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                events: '{{ .Site.BaseURL }}event/index.json'
            })

        });
    </script>


	
	
    <!-- Blog Section End -->
	
{{ end }}


