{{ define "main" }}



    <section style="margin-top:2em">
        <div class="container">
					<div class="section-title">
						<h2>Prochains évènements</h2>                                
					</div>
						{{ $mymonths := index $.Site.Data.mois_short }}
						{{ $events := (where .Site.RegularPages "Section" "event").Reverse }}
						{{ $events := $events | intersect (where $events "Date" "ge" now) | first 4 }}
						{{ $.Scratch.Set "counter" 0 }}
						
                        <div class="row">
                            
                            
								{{ range $events }}								
								{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
								
								<div class="col-lg-6">
								<div class="row event ">
									<div class="date {{.Params.type}}">
										<div class="day">{{.Date.Format "02"}}</div>
										<div class="month">{{ index $mymonths (printf "%d" .Date.Month) }}</div>
									</div>
									<div class="infos">
										<h4>{{.Title}}</h4>
										<p> Général</p>
									</div>
									
                             
								
								</div>
								</div>
                                {{end}}
                            
                        </div>
					
					
					
					

		</div>
	</section>
	<section style="margin-top:2em">
		<div class="container">
			<div class="section-title">
				<h2>Calendrier</h2>                                
			</div>
			<div id="calendar"></div>
		</div>
	</section>
<style>


	
	
	#wrap {
		width: 1100px;
		margin: 0 auto;
		}

	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		text-align: left;
		}

	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}

	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}

	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}

	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
/* 		float: right; */
		
        margin: 2em auto;
		
		
		background-color: #FFFFFF;
		border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
		}

</style>
    <script src='/js/moment.min.js'></script>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/jquery-ui.custom.min.js'></script>
    <script src='/js/fullcalendar.min.js'></script>

    <script>
        $(document).ready(function () {

            console.log("Ready...");

            $('#calendar').fullCalendar({

				buttonText: {today: "Aujourd'hui", month:    'mois',  week:     'semaine',  day:      'jour',  list:     'liste'},
				monthNames: ['Janvier','Févier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Décembre'],
				monthNamesShort: ['Jan','Fev','Mar','Avr','Mai','Jun','Jul','Aou','Sep','Oct','Nov','Dec'],
				dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
				dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
                events: '{{ .Site.BaseURL }}/event/index.json'
            })

        });
    </script>


	
	
    <!-- Blog Section End -->
	
{{ end }}


