{{ define "main" }}


<section class="blog-section spad">
	<div class="container">
	
	<section style="margin-top:2em">
	<div class="section-title">
		<h2>Les prochains évènements</h2>
		
		
				{{ $mymonths := index $.Site.Data.mois_short }}
				{{ $mydays := index $.Site.Data.jour_short }}
				{{ $events := (where .Site.RegularPages "Section" "event").Reverse }}
				{{ $events := $events | intersect (where $events "Date" "ge" now) | first 9 }}
				{{ $.Scratch.Set "counter" 0 }}
				
				
				
				<div class="row">
				{{ range $events }}								
				{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
				<div class="col-lg-4 event_dev">

						<div class="row date {{.Params.event_type}}">
							<div class="day_str">{{ index $mydays (printf "%d" .Date.Weekday) }}  </div>
							<div class="day">{{.Date.Format "02"}}</div>
							<div class="month">{{ index $mymonths (printf "%d" .Date.Month) }}</div>
						</div>
						<div class="infos">
							<h4>{{.Title}}</h4>
							<p> {{.Params.lieu}} </p>
						</div>
						
				

				</div>
				{{end}}
				</div>
					
	</div>
	
	<div class="section-title">
		<h2>Le calendrier de l'année </h2>
					
	</div>

		{{- partial "year_calendar.html" . -}}
		
	</section>
	
	
</div>
</section>

	
	
    <!-- Blog Section End -->
	
{{ end }}


