{{ define "main" }}



            <section class="portfolio-area section-gap" id="portfolio">
                <div class="container">

                    
                    <div class="filters">
                        <ul>
                            <li class="active" data-filter="*">Tous</li>
                            <li data-filter=".tournoi">Tournoi</li>
                            <li data-filter=".jeunes">Jeunes</li>
                            <li data-filter=".interclub">Interclubs</li>

                        </ul>
                    </div>
                    
                    <div class="filters-content">
                        <div class="row grid">
						{{ range (where $.Site.RegularPages "Section" "resultat").ByPublishDate.Reverse }}
                            <div class="single-portfolio col-sm-4 all {{ .Params.type}}">
                            	<div class="relative">
	                            	<div class="thumb">
	                            		<div class="overlay overlay-bg"></div>
	                            		 <img class="image img-fluid" src={{ .Params.image }} alt="">
	                            	</div>
									<a href="img/p1.jpg" class="img-pop-up">	
									  <div class="middle">
									    <div class="text align-self-center d-flex">
										<h4> {{ .Title }}</h4>													
										</div>
									  </div>
								</a>                              		
                            	</div>
								<div class="p-inner">

								</div>					                               
                            </div>
						{{ end }}


                        </div>
                    </div>
                    
                </div>
            </section>


			
{{end}}					  
			
		