{{ define "main" }}


	 <!-- navbar-->
		<header class="header">

			{{- partial "site-nav.html" . -}}

		</header>
		<div class="banner">
			<div class="overlay">

				<h1>Badminton Club Montigny-le-Bretonneux</h1>
			</div>
		</div>
<!-- 		<div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">

		  <div role="listbox" class="carousel-inner">
			<div style="background-image: url({{ "img/banner.png"| relURL}});" class="item active">
			 
			  <div class="carousel-caption">
				<h1 class="super-heading">Badminton Club </br> Montigny-le-Bretonneux</h1>

				
			  </div>
			</div>

		  </div>
		</div> -->
		
		<section>
		  <div class="container">
			<h1> Bienvenue </h1>
			
			<p>  Le club de badminton de Montigny vous accueille toute l'année pour la pratique du badminton, tant en loisir qu'en compétition. Pendant les vacances scolaires les créneaux sont mixtes et permettent ainsi de se rencontrer entre joueurs de niveaux bien différents. <p>
		  </div>
		</section>
		<section>
		  <div class="container">
			
			<div class="row">
			
				
				
					<div class="col-sm-4">
					<h2> Actualités</h2>
					{{ range first 2 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse }}
						<div class="post">
							<div class="image"><a href="text.html"><img src="{{ .Params.image }}" alt="" class="img-responsive"></a></div>
							<h3><a href="text.html">{{ .Title }}</a></h3>

							
						</div>
					{{end}}	
					</div>

					<div class="col-sm-4">
					<h2> Résultats </h2>
					{{ range first 2 (where $.Site.Pages "Section" "resultat").ByPublishDate.Reverse }}
						<div class="post">
							<div class="image"><a href="text.html"><img src="{{ .Params.image }}" alt="" class="img-responsive"></a></div>
							<h3><a href="text.html">{{ .Title }}</a></h3>
							
						</div>
					{{end}}	
					</div>
					
					<div class="col-sm-4">
					<h2> Calendrier </h2>
						<iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=2&amp;bgcolor=%&amp;ctz=Europe%2FParis&amp;src=YmNtYi5jb21tdW5pY2F0aW9uQGdtYWlsLmNvbQ&amp;showTitle=0&amp;showNav=1&amp;showPrint=0&amp;showCalendars=0&amp;showTabs=0&amp;showTz=0&amp;mode=MONTH" style="border:solid 1px #777" width=100% height=500px frameborder="0" scrolling="no"></iframe>
					</div>

			</div>
		  </div>
		</section>


		<footer class="footer">
		  <div class="footer__copyright">
			<div class="container">
			  <div class="row">
				<div class="col-md-6">
				  <p>&copy;2017 BCMB</p>
				</div>
				<div class="col-md-6">
				  <p class="credit">Template by <a href="https://bootstrapious.com/free-templates" class="external">Bootstrapious templates</a></p>
				  <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
				</div>
			  </div>
			</div>
		  </div>
		</footer>
	
{{ end }}