{{ define "main" }}

{{ $mymonths := index $.Site.Data.mois }}


	<link rel="stylesheet" href={{"fullcalendar/main.css" |relURL}} rel="stylesheet" />
	<script src={{"fullcalendar/main.js" |relURL}}></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
	  firstDay: 1,
	  displayEventTime: false, 
	  locale: 'fr',
	  height: 'auto',
      events: {{"event/index.json"| relURL}},	  
	  headerToolbar: {
		  start: 'title', // will normally be on the left. if RTL, will be on the right
		  center: '',
		  end: 'prev,next' // will normally be on the right. if RTL, will be on the left
		}
    });

    calendar.render();
  });

</script>


    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Badminton Club Montigny-le-Bretonneux</h1>
                        <p>Le BCMB vous accueille toute l'année pour la pratique du badminton, tant en loisir qu'en compétition.</p>
                        <a href="/club" class="btn btn-common">En savoir plus</a>
                    </div>
                    <!-- <img src="triangle/images/home/slider/hill.png" class="slider-hill" alt="slider image"> -->

                    
                    <img src="triangle/images/home/slider/player.png" class="slider-house" alt="slider image">


                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->


    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="500ms">
                            <h1 class="title">Actualités</h1>
                            <p>Plus d'actualités</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="">
                                <a href="#" class="btn btn-common">Voir tout</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->


			{{ partial "last_actu.html" . }}
     

    
    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="500ms">
                            <h1 class="title">Calendrier</h1>
                            <p>Les prochains évènements</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="">
                            
                            
                            
                            
                                <a href="#" class="btn btn-common">Voir le calendrier</a>
                             </div>
                        </div>
                        
                        
              
                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->
    
<section id="blog" class="padding-top">
    <div class="container">
    
              <div class="col-sm-12 col-lg-12">
                                <div id='calendar'></div>
                            </div> 
                            
                            </div>
                            </section>

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                        
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/larde.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/logo_lifb.jpg" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->

	
{{ end }}