


{{ define "main" }}

{{ $mymonths := index $.Site.Data.mois }}


    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>Badminton Club Montigny-le-Bretonneux</h1>
                        <p>Le BCMB vous accueille toute l'année pour la pratique du badminton, tant en loisir qu'en compétition.</p>
                        <a href="/club" class="btn btn-common">En savoir plus</a>
                    </div>
                    <!-- <img src="triangle/images/home/slider/hill.png" class="slider-hill" alt="slider image"> -->

                    
                    <img src="triangle/images/home/slider/player.png" class="slider-house" alt="slider image">
					<img src="triangle/images/home/slider/volant.png" class="slider-sun" alt="slider image">
					<img src="triangle/images/home/slider/sun.png" class="slider-birds2" alt="slider image">

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="img/icones/strategie.png" alt="">
                        </div>
                        <h2>Jeunes</h2>
                        <p>L’École de Badminton du BCMB est labellisée 2 étoiles par la FFBAD. Les créneaux pour jeunes sont répartis par classe. Consultez la partie jeune pour en savoir plus sur les compétitions et les évènements.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="img/icones/gagner.png" alt="">
                        </div>
                        <h2>Compétition</h2>
                        <p>HChaque semaine les compétiteurs ont un entrainement par équipe d’Interclub ainsi que des créneaux communs de jeu libre ; ils s’investissent durablement pendant la saison pour représenter les couleurs du club tant à domicile ou qu’en extérieur.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="img/icones/equipe.png" alt="">
                        </div>
                        <h2>Loisirs </h2>
                        <p>Chaque semaine, plusieurs créneaux de jeu libre sont disponibles ; un encadrement est possible chaque début de saison</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="500ms">
                            <h1 class="title">Actualités</h1>
                            <p>Les dernières nouvelles du club</p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="">
                                <a href="#" class="btn btn-common">Voir tout</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->


     
    <section id="blog" class="padding-top">
        <div class="container">

                    <div class="row">
                    {{ range (first 3 (where $.Site.Pages "Section" "post").ByPublishDate.Reverse) }}
                         <div class="col-md-4 col-sm-12 blog-padding-right">
                         
                            <div class="single-blog two-column">
                                <div class="post-thumb">
                                    <a href="blogdetails.html"><img src={{.Params.image}} class="img-responsive" alt=""></a>
                                    <div class="post-overlay">
                                        <span class="uppercase"><a href="#">{{.Date.Format "02"}} <br><small> {{ index $mymonths (printf "%d" .Date.Month) }}</small></a></span>
                                    </div>
                                </div>
                                <div class="post-content overflow">
                                    <h2 class="post-title bold"><a href="blogdetails.html"> {{.Title}} </a></h2>
                                    <!-- <h3 class="post-author"><a href="#">Posted by micron News</a></h3> -->
                                    <p>{{.Description | markdownify}}</p>
                                    <a href={{.Permalink}} class="read-more">Voir plus</a>
                                    <div class="post-bottom overflow">
                                        <ul class="nav nav-justified post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>{{ .Params.categorie }}</a></li>
                                            <li><div class="comment-count"> <a href="{{ .Permalink }}#disqus_thread"><i class="fa fa-comments"></i> # Comments   </a></div></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                     {{ end }}                  
                    
            </div>
        </div>
    </section>

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="images/home/clients.png" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Clients</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/larde.png" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/logo_lifb.jpg" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client3.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client4.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client5.png" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="triangle/images/home/client6.png" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->

	
{{ end }}