{{ define "main" }}


	
<section class="blog-section">

	<div class="container">
	
		<p> Faute de pouvoir jouer au badminton, nous vous proposons de relever un challenge sportif par équipe.</p>
		
		<h2> Le principe </p>
		
		<p> Tu coures, tu gagnes des points. Tu marches, tu gagnes des points. Tu pédales, tu gagnes des points. Tu fais des abdos, tu gagnes des points.</p>
		<p> Les points de chaque participant sont ajoutés à son équipe. L'équipe qui a le plus de points gagne ... rien du tout. </p>
		
		<div class="row" style="padding-bottom:1em">
		
		{{ with .Site.GetPage "/defi/sports" }}	
			{{ range .Params.sport}}
			<div class="col-lg-3 col-6" style="height:5em; padding:0.5em;"> 
				<div class="row" style="border-radius: 0.5em;padding-top:0.5em;padding-bottom:0.5em; background-color:{{.couleur}}; text-align: center; font-size: 0.6em;">
					<div class="col-4" >{{ .nom}}  </div>
					
					<div class="col-8" >{{ .point}}  </div>
					<div class="col-12" style="text-align: center "><img src={{.image}} alt="">  </div>
				</div>
			</div>
			{{end}}
		{{end}}
		</div>
		<h2> Comment participer ? </h2>
		
		<p> Afin de faciliter le compte des points de tout le monde, chaque participants devra enregistrer ses diverses activités sur Strava. </p>
		
		<p> Pour cela voici quelques étapes simples à suivre: </p>
		<ul>
		<li> Créez un compte  <a style="color:#f96" href="https://www.strava.com/">Strava </a> </li>
		<li> Se connecter à son compte </li>
		<li> Rejoindre le club BCMB en vous rendant à <a style="color:#69f" href="https://www.strava.com/clubs/bcmb">  ce lien </a> et cliquer sur Demander à rejoindre le club</li>
		<li> Commencer à ajoutez des activités. </br>
			Pour cela plusieurs possibilités s'offre à vous:
			<ul>
				
				<li> Synchroniser les données d'autres sites de fitness vers Strava (Garmin, Runtatstic, Runkeeper,...) </li>
				<li> Enregistrer une activité à partir de l'application Strava </li>
				<li> Ajouter une activité manuellement </li>
				
				
			</ul>
			
		</li>
		
		</ul>
		
		<p>Pour plus d'informations vous pouvez consultez l' <a style="color:#f96" href="https://support.strava.com/hc/fr/articles/223297187#app"> aide Strava </a></p>
		<!-- 
		<h2> Les résultats en direct </h2>
		<p> Vous pouvez suivre ici les performance de chaque équipes mises à jour chaque dimanche. 
		
			<table style="text-align:center; width:100%; border-collapse: collapse; ">
			  <tr>
				<th>Equipe</th>
				<th>Course (km)</th>
				<th>Marche (km)</th>
				<th>Vélo (km)</th>
				<th>Cardio (min)</th>
				<th>Points</th>
			  </tr>
			  <tr>
				<td> Equipe 1</td>
				<td>10</td>
				<td>20</td>
				<td>5</td>
				<td>40</td>
				<td>250</td>
			  </tr>
			  <tr>
				<td> Equipe 2</td>
				<td>10</td>
				<td>20</td>
				<td>5</td>
				<td>40</td>
				<td>250</td>
			  </tr>
			</table> -->
			
		</br>
		</br>
	</div>
	
	

</section>
		

			
{{end}}			

