

{{ define "main" }}

	
<section class="blog-section">

	<div class="container">

	<h2 style="font-family: Pacifico"> Liens </h2>
	<ul>
	{{range .Params.lien}}
	<li>
	<a href={{.lienUrl}}>{{.nom}}</a></li>
	
	{{end}}
	</ul>
	
	
	
    
    	<h2 style="font-family: Pacifico"> Documents </h2>
	
	<ul>
	{{range .Params.docs}}
        <li>
        
        {{ if .fichier }}
        <a href={{.fichier}}>{{.nom}} </a>
        {{ elif .lien_externe }}
        <a href={{.lien_externe}}>{{.nom}} </a>
        
        {{end}}
        
        </li>
	{{end}}
	</ul>
	</div>

</section>
		

			
{{end}}			

