{{ define "main" }}


	<section class="blog-section">
		<div class="container" style="padding-top:2em; padding-bottom: 2em">
			<div class="section-title" >
					<h2> Présentation </h2></div>

				{{ .Params.text | markdownify}}


			
			<div class="row">
				<div class="col-sm-12 col-lg-7">
				<div class="section-title">
					<h2> Créneaux</h2></div>
					
					{{- partial "schedule_jeune.html" . -}}
				
				</div>
				<div class="col-sm-12 col-lg-5">
				<div class="section-title">
					<h2> Catégories</h2>
					</div>
					<div class="row">
						{{ with .Site.GetPage "/jeunes/categories" }}	
							{{ range .Params.categorie}}
								<div class="col-sm-6 col-lg-4 members">
									
									
										<div class="col-12">
											<img class="img-fluid pics" src={{ .image}} alt="">
										</div>
										<div class="col-12">
											<div class="text_members">
											<h4> {{ .nom}}</h4>
											<p>
												{{.annee}}
											</p>
											
											</div>
										</div>
									
								</div>
							{{ end}}
						{{end}}	
					</div>
				</div>
			</div>
			<div class="section-title" style="margin-top:2em">
			

				<h2>Trophée Jeunes</h2>  
						
				{{ $mymonths := index $.Site.Data.mois }}
				{{ $mydays := index $.Site.Data.jour }}

				
				
				{{ $events := (where (where $.Site.RegularPages "Section" "event") ".Params.categorie" "=" "trophée_jeune").Reverse }}
				{{ $events := $events | intersect (where $events "Date" "ge" now) | first 9 }}

				
				{{ with .Site.GetPage "/jeunes/groupes" }}
				<div class="row" style="padding-top:1em">
					<div class="col-lg-12">
					
						<h3 style="text-align: center; padding-bottom: 1em">Groupe D1</h3>
						
						
						<div class="row">
						{{range .Params.joueurs_D1}}
								
								
								<div class="col-sm-6 col-lg-3">
									<div class="row">
									<div class="col-2">
										<img style="width: 3em" class="img-fluid pics" src={{ .image}} alt="">
									</div>
									<div class="col-10">
										<div>
										<p> {{ .nom}}</p>
										
										
										</div>
									</div>
									</div>
								</div>
								
							
								
						{{end}}
						</div>
						
					</div>
					
					<div class="col-lg-12">
					
						<h3 style="text-align: center; padding-bottom: 1em">Groupe D2</h3>
						
						<div class="row" style="height: 5em">
						<p style="text-align: center"> A venir </p>
<!-- 						{{range .Params.joueurs_D2}}
								
								
								<div class="col-lg-3">
									<div class="row">
									<div class="col-2">
										<img style="height: 2em" class="img-fluid pics" src={{ .image}} alt="">
									</div>
									<div class="col-10">
										<div>
										<p> {{ .nom}}</p>
										
										
										</div>
									</div>
									</div>
								</div>
								
							
								
						{{end}} -->
						</div>
						
					</div>
					
					<div class="col-lg-12">
					
						<h3 style="text-align: center; padding-bottom: 1em">Groupe D3</h3>
						<div class="row" style="height: 5em">
						<p style="text-align: center"> A venir </p>
						
						<!-- {{range .Params.joueurs_D3}}
								
								
								<div class="col-lg-3">
									<div class="row">
									<div class="col-2">
										<img style="height: 2em" class="img-fluid pics" src={{ .image}} alt="">
									</div>
									<div class="col-10">
										<div>
										<p> {{ .nom}}</p>
										
										
										</div>
									</div>
									</div>
								</div>
								
							
								
						{{end}} -->
						</div>
					</div>
					
				</div>
				{{end}}
				
				<div class="row">
				{{ range $events}}
				<div class="col-lg-4">
					<div class="event_dev">
					<div class="day_str">
						
						{{.Date.Format "02"}} {{ index $mymonths (printf "%d" .Date.Month) }}   {{if ne .Params.date.Day .Params.end_date.Day}} -  {{.Params.end_date.Format "02"}} {{ index $mymonths (printf "%d" .Params.end_date.Month) }} {{end}}
						</div>
						<div class="infos">
							<h4>{{.Title}}</h4>
							<p> {{.Params.lieu}} </p>
						</div>
						
						
							
							
								<button class="docs red" type="button" onclick="location.href='mailto: bcmb.jeunes@gmail.com?subject=Inscription%20{.Title}}';">
									Demande d'inscription
								</button>
														
								{{if .Params.convocation}}
									<button class="docs yellow" type="button" onclick="window.open({{.Params.convocation | relURL}})">
										Convocations
									</button>
								{{else}}
									<button class="docs disabled" type="button" disabled>
										Convocations
									</button>
								{{end}}
								
				
					</div>
				</div>
				{{end}}
				</div>
					
			</div>
			
			<div class="section-title" style="margin-top:2em">
				<h2>Stages</h2>  
			</div>
				
								{{ $events := (where (where $.Site.RegularPages "Section" "event") ".Params.event_type" "=" "stage_jeunes").Reverse }}
				{{ $events := $events | intersect (where $events "Date" "ge" now) | first 9 }}
				<div class="row">
				{{ range $events}}
				<div class="col-lg-4">
					<div class="event_dev">
					<div class="day_str">
						
						 {{.Date.Format "02"}} {{ index $mymonths (printf "%d" .Date.Month) }}   {{if ne .Params.date.Day .Params.end_date.Day}} -  {{.Params.end_date.Format "02"}} {{ index $mymonths (printf "%d" .Params.end_date.Month) }} {{end}}
						</div>
						<div class="infos">
							<h4>{{.Title}}</h4>
							<p> {{.Params.lieu}} </p>
						</div>
						
						
							
							<p>{{ .Description}}</p>
								
														
								{{if .Params.poster}}
									<button class="docs yellow" type="button" onclick="window.open({{.Params.poster | relURL}})">
										Plaquette
									</button>
								{{else}}
									<button class="docs disabled" type="button" disabled>
										Plaquette
									</button>
								{{end}}
								
								<button class="docs red" type="button" onclick="location.href='mailto: bcmb.jeunes@gmail.com?subject=Inscription%20{{.Title}}&body=Bonjour,%0D%0AJe%20souhaite%20m`inscrire';">
									Demande d'inscription
								</button>
								
				
					</div>
				</div>
				{{end}}
				</div>

										
			
			
			 
		</div>
	</section>


			
{{end}}					  
			
		