{{ define "main" }}

{{ $mymonths := index $.Site.Data.mois }}

<!-- Blog Section Begin -->
<section style="padding-top:1em">
	<div class="container">
		<div class="row">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "post").ByPublishDate.Reverse }}
			{{ range $paginator.Pages }}
			<div class="col-lg-6">
			
				
				
					
				
					<div class="blog-items">
					
					<div class="single-blog-item" style="padding: 1rem;border: dotted 1px #f34e3a;; border-radius: 1rem; margin: 1rem;">
					
					<h2><a href={{.Permalink}}>{{.Title}} </a></h2>
					<div class="row" style="padding-left:1em;font-size: 14px; text-transform: uppercase;"> 
						{{.Date.Format "02"}}  {{ index $mymonths (printf "%d" .Date.Month) }} {{.Date.Format "2006"}}  | 
						
						<div class="comment-count">
						<a href="{{ .Permalink }}#disqus_thread"> # Comments</a>
						</div> 
						
						|  {{.Params.categorie}}
					
					</div>
					
						<div class="blog-text"> 
							<div class="row"> 
								{{if .Params.image}}
								<div class="col-lg-8">
									
									<p>{{.Description| markdownify}}</p>
								</div>
								<div class="col-lg-4">
									<img src="/{{.Params.image}}" alt="" style="width: 100%; height: 100%;  object-fit: cover;">
								</div>
								{{else}}
								<div class="col-lg-12">
									
									<p>{{.Description | markdownify}}</p>
								</div>
								
								{{end}}
								
							</div>

						</div> 
						
						
					</div>
					


				</div>
				
				
	
			
			</div>
			{{end}}
		
					<!-- Latest News Section Begin -->



<!-- Latest News Section End -->
			
			

		</div>
		<div style="margin: 0 auto; width: 100px; ">{{ template "_internal/pagination.html" . }}</div>
	</div>
</section>
    <!-- Blog Section End -->
	
{{ end }}


