{{ define "main" }}
{{ $mymonths := index $.Site.Data.mois }}

	
<section class="blog-section">
<div class="container">
{{ with .Site.GetPage "/event/Skybad_15" }}

	<div class="row" style="padding-top:1em;padding-bottom:3em">
		<div class="col-sm-12 col-lg-6" style="min-height:10rem">
		
			<p>{{.Content }}</p>
			
			
			{{if eq .Params.event_type "tournoi"}}
				
				<div class="row" style="width:100%">
					
					<div class="col-lg-4">
					{{if .Params.fiche_inscription}}
					<button class="docs red" type="button" onclick="window.open({{.Params.fiche_inscription}})">
						S'inscrire
					</button>
					
					{{else}}
					
					<button class="docs disabled" type="button">
						S'inscrire
					</button>
					
					{{end}}
					</div>
					
					
					<div class="col-lg-4">
					{{if .Params.reglement}}
						<button class="docs cyan" type="button" onclick="window.open({{.Params.reglement | relURL}})">
							Règlement
						</button>
					{{else}}
						<button class="docs disabled" type="button">
							Règlement
						</button>
						
					{{end}}
					</div>
					
					<div class="col-lg-4">
					{{if .Params.convocation}}
						<button class="docs yellow" type="button" onclick="window.open({{.Params.convocation | relURL}})">
							Convocations
						</button>
					{{else}}
						<button class="docs disabled" type="button">
							Convocations
						</button>
					{{end}}
					</div>
				</div>
			{{end}}
			
		
		</div>
		
		<div class="col-sm-12 col-lg-6" style="text-align: center"	>
		

			
			<img src={{.Params.image | relURL}} alt="" style="align: center; object-fit: cover">

		</div>
		

</div>
{{end}}
		<div class="section-title">
			<h2> Editions précédentes </h2>
		</div>
				<h3>Photos </h3>                                
			
			<div class="row" style="padding-bottom:2em">
				{{range .Params.albums}}
					<div class="col-lg-3">
					<a href={{.link}} target="_blank">
						<div class="album_thumb">
							<img class="image_thumb" src={{.thumbnail | relURL}} alt="" >
							<div class="overlay_thumb">
								<div class="text_thumb">{{.title}}</div>
							</div>  
						</div>
						</a>
					</div>
					
				{{end}}
			</div>
<!--			
				<h3> Résultats</h3>                                
 			
			<div class="row" style="padding-bottom:1em">
				{{range .Params.palmares}}
					<div class="col-lg-3">
					<a href={{.link}} target="_blank">
						<div class="palmares">
							<img class="image_palmares" src={{ "img/icon-podium.png"| relURL}} alt="" >
							<div class="overlay_palmares">
								<div class="text_palmares">{{.title}}</div>
							</div>  
						</div>
						</a>
					</div>
				{{end}}
			</div> -->
	
	

</section>
		

			
{{end}}			

