{{ define "main" }}
{{ $mymonths := index $.Site.Data.mois }}

	<section class="blog-section">
		<div class="container">
			<div class="row" style="padding-top:2em; padding-bottom:2em;">
				<div class="col-sm-12 col-lg-6">
				
				
					
					<p>{{.Params.description | markdownify}}</p>
					
					
					{{if eq .Params.event_type "tournoi"}}
						
						<div class="row" style="width:100%">
							
							<div class="col-lg-4">
							{{if .Params.fiche_inscription}}
							<button class="docs red" type="button" onclick="window.open({{.Params.fiche_inscription | relURL}})">
								Fiche d'inscription
							</button>
							
							{{else}}
							<button class="docs disabled" type="button" disabled>
								Fiche d'inscription
							</button>
							{{end}}
							</div>
							
							
							<div class="col-lg-4">
							{{if .Params.reglement}}
							<button class="docs cyan" type="button" onclick="window.open({{.Params.reglement | relURL}})">
								Règlement
							</button>
							{{else}}
							
							<button class="docs disabled" type="button" disabled>
								Règlement
							</button>
							
							{{end}}
							
							</div>
							<div class="col-lg-4">
							{{if .Params.convocation}}
								<button class="docs yellow" type="button" onclick="window.open({{.Params.convocation | relURL}})">
									Convocations
								</button>
							{{else}}
								<button class="docs disabled" type="button" disabled>
									Convocations
                                    
								</button>
							{{end}}
							</div>
						</div>
					{{end}}
				</div>
				
				<div class="col-sm-12 col-lg-6" style="text-align: center"	>
				
					{{ $image := "img/mascotte1.jpg"}}
					{{if .Params.poster}}
						{{ $image = .Params.poster}}
					{{end}}
					
					{{if .Params.image}}
						{{ $image = .Params.image}}
					{{end}}
					<img class="f-img img-fluid mx-auto" src={{ $image | relURL}} alt="" style="max-height:70vh; align: center">
				</div>
				
			
				
		</div>
	</section>

			
{{end}}			

