{{ define "main" }}

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="img/icones/strategie.png" alt="">
                        </div>
                        <h2>Jeunes</h2>
                        <p>L’École de Badminton du BCMB est labellisée 2 étoiles par la FFBAD. Les créneaux pour jeunes sont répartis par classe. Consultez la partie jeune pour en savoir plus sur les compétitions et les évènements.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="img/icones/gagner.png" alt="">
                        </div>
                        <h2>Compétition</h2>
                        <p>HChaque semaine les compétiteurs ont un entrainement par équipe d’Interclub ainsi que des créneaux communs de jeu libre ; ils s’investissent durablement pendant la saison pour représenter les couleurs du club tant à domicile ou qu’en extérieur.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="img/icones/equipe.png" alt="">
                        </div>
                        <h2>Loisirs </h2>
                        <p>Chaque semaine, plusieurs créneaux de jeu libre sont disponibles ; un encadrement est possible chaque début de saison</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



{{ with .Site.GetPage "/club/presentation" }}

	<section id="histoire">
		<div class="container">
			<div class="row">
				<h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms"> Histoire </h1>
		</div>

		<p class="sample-text">
			{{ .Params.text | markdownify}}
		</p>
	</section>

{{ end }}


<section id="action">
	<div class="vertical-center">
		 <div class="container">
			<div class="row">
				<div class="action count">
					<div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<h1 class="timer bold" data-to="260" data-speed="1000" data-from="0"></h1>   
						<h3>Membres</h3>
					</div>
					<div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<h1 class="timer bold" data-to="8" data-speed="1000" data-from="0"></h1>   
						<h3>Equipes d'Interclubs</h3> 
					</div>
					<div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<h1 class="timer bold" data-to="2" data-speed="1000" data-from="0"></h1> 
						<h3>Gymnases</h3>
					</div>
					<div class="col-sm-3 text-center wow bounceIn" data-wow-duration="1000ms" data-wow-delay="300ms">
						<h1 class="timer bold" data-to="2" data-speed="1000" data-from="0"></h1> 
						<h3>Etoiles EFB</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{ with .Site.GetPage "/club/bureau" }}

	<section id="team">
        <div class="container">
 
			<h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">{{.Title}} </h1>

			<div class="row">

					{{ range .Params.membre}}
						<div class="col-sm-3 col-xs-6">
							<div class="team-single-wrapper">
								<div class="team-single">
									<div class="person-thumb">
										<img src=""  class="img-responsive" alt="">
									</div>

								</div>
								<div class="person-info">
									<h2>{{ .nom}}</h2>
									<p>{{ .fonction}}</p>
								</div>
							</div>
						</div>
					{{end}}
			</div>
		</div>


    </section>

{{ end }}
			
			</br>
			{{ with .Site.GetPage "/club/horaires" }}
			{{end}}
			<a id="creneaux"></a>
			{{- partial "schedule.html" . -}}
			
			<a id="gymnases"></a>
			{{- partial "gymnase.html" . -}}
					
					
			
			

			
			

		
{{end}}					  
			
		