{{ define "main" }}


{{ $mymonths := index $.Site.Data.mois }}
<!-- Blog Section Begin -->
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Actualités</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#page-breadcrumb-->
    
    <section id="blog" class="padding-top padding-bottom">
        <div class="container">
            <div class="row">
                <div class="masonery_area">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post").ByPublishDate.Reverse }}
                {{ range $paginator.Pages }}
                    <div class="col-md-3 col-sm-4">
                        <div class="single-blog two-column">
                            <div class="post-thumb">
                                <a href="blogdetails.html"><img src="/{{.Params.image}}" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">{{.Date.Format "02"}} <br><small> {{ index $mymonths (printf "%d" .Date.Month) }}</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                
                                <h2 class="post-title bold"><a href="blogdetails.html">{{ .Title }}</a></h2>
                                <!-- <h3 class="post-author"><a href="#">Posted by micron News</a></h3> -->
                                <p>{{.Description | markdownify}}</p>
                                
                                <a href={{.Permalink}} class="read-more">Voir plus</a>
                                <div class="post-bottom overflow">
                                    <ul class="nav nav-justified post-nav">
                                        <li><a href="#"><i class="fa fa-tag"></i>{{ .Params.categorie }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ end }}
                </div>
            </div>
            <div style="margin: 0 auto; ">{{ template "_internal/pagination.html" . }}</div>
        </div>
    </section>
	
{{ end }}


