<!-- Footer -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-3 col-6-medium col-12-small">

				<img class="image footer" src={{"img/larde.png" | relURL}} alt="" />
				
			</div>
			<div class="col-3 col-6-medium col-12-small">
			<img class="image footer" src={{"img/logo_footer.svg" | relURL}} alt="{{ .Title }}" />
			</div>
			<div class="col-3 col-6-medium col-12-small">
				<img class="image footer" src={{"img/comite78.svg" | relURL}} alt="{{ .Title }}" />
			</div>
			<div class="col-3 col-6-medium col-12-small">
				<img class="image footer" src={{"img/logo_ffbad.svg" | relURL}} alt="{{ .Title }}" />
			</div>
		</div>

	</div>
</footer>